.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}
  
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right:15%;
  }

  .action {
    display:flex;
    gap:50%;
    width:auto;
  }

  .startButton {
    background-color: #f6f6f6;
    color: #676767;
    border: none;
    padding: 5px 10px;
    margin-left:5%;
    font-size: 16pt;
    border-radius: 8px;
    cursor: pointer;
    width:auto;
  }

  .startButtonHover:hover {
    background-color:  #DEDEDE;
    color:#676767;
  }

  .faq {
    color:#8A8A8A;
    border: none;
    background-color: white;
    font-size: 16pt;
  }

  .faqHover {
    color:#4E4E4E;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .title {
    font-size: 32px;
    margin: 0;
  }
  
  .mainContent {
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .imageContainer {
    width: 40%;
  }
  
  .workerImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .mainTitle {
    font-size: 40px;
    margin: 0 0 0.5rem 0;
  }
  
  .mainDescription {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 18px;
    margin: 0 0 1.5rem 0;
    line-height: 1.4;
  }
  
  .createButton {
    background-color: #45B681;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14pt;
    border-radius: 8.5px;
    cursor: pointer;
  }

  .createButtonHover:hover {
    background-color: #3d9f70;
  }

  .divider {
    /* border: 2px solid #F2F2F2; */
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding-top:2%;
    padding-bottom:2%;
    margin-top:2%;
    width:90%;
    gap:5%;
  }

  .features {
    margin-left:10%;
    font-size:25pt;
    font-weight:500;
    margin-top:10%;
  }

  .feature {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:18pt;
    font-weight: 500;
    background-color:#F6F6F6;
    border-radius:10px;
    padding:3% 5% 3% 5%;
  }

  .body {
    font-size:12pt;
    font-weight:400;
    text-align: center;
    margin-top:5%;
  }
  
  @media (max-width: 768px) {
    .mainContent {
      flex-direction: column;
    }
  
    .imageContainer {
      margin-right: 0;
      margin-bottom: 2rem;
      width: 100%;
      height: auto;
    }
  
    .workerImage {
      max-width: 100%;
      height: auto;
    }
  
    .textContainer {
      margin-right: 0;
    }
  }